Repository ES-PL4-2018/gate-project-pl4, pull requests merged in 2018-12, with the labels that each got.

#150 REQ_ATA_W1_S4
  doc/atas/REQ_ATA_W1_S4.md
Labels: REQ

#157 Atualizar monitorização de processos
  doc/manual_qualidade/QUA/QUA_MONITORIZACAO_PROCESSOS.md
Labels: QUA, nonconformity, rework_tec

#159 REQ_ACT_SRS
  doc/team-requisitos/Requisitos/ES2018_GATE_SRS_v3.3.pdf
Labels: REQ, nonconformity

#152 REQ_ACT_TABELA
  doc/team-requisitos/Requisitos/REQ_TABELA_REQUISITOS.xlsx
Labels: REQ

#158 REQ_ACT_MQ
  doc/manual_qualidade/REQ/MQ_REQ.md
Labels: REQ

#163 QUA_ACT_FAGAN_INSPECTION
  doc/manual_qualidade/EQUIPA/FAGAN_INSPECTION.md
Labels: QUA, nonconformity

#166 TST_REV_REVISAO_SPRINT#4_WeSearchers
  TST_REVISAO_SPRINT#4_WeSearchers.md
Labels: TST

#169 TST_ACT_MQ_TST.md
  doc/manual_qualidade/TST/MQ_TST.md
Labels: TST

#164 GERAL_ACT_REALIZACAO_TAREFAS
  doc/manual_qualidade/EQUIPA/REALIZACAO_TAREFAS.md
Labels: QUA

#165 GERAL_ACT_WORKFLOW
  doc/manual_qualidade/EQUIPA/WORKFLOW.md
Labels: QUA

#173 QUA_DEL_MANUAL_WORKFLOW_GITHUB
  doc/manual_qualidade/ENV/Manual-de-Workflow-GitHub.md
Labels: QUA

#172 QUA_DEL_MOD_AcompUnid
  doc/manual_qualidade/TEMPLATES/QUA_TEMPLATE_AcompUnid.md
Labels: QUA

#170 TST_ACT_TST_TESTES_CODIGO
  doc/manual_qualidade/TST/TST_TESTES_CODIGO.md
Labels: TST

#156 GES.md
  doc/manual_qualidade/GES/GES.md
Labels: GES, nonconformity, rework_form

#168 REQ_ACT_SRS
  doc/team-requisitos/Requisitos/ES2018_GATE_SRS_v3.5.pdf
Labels: REQ
